@media screen and(max-width:1517px) {
  .container {
    .header {
      width: 100%;
      .icons {
        margin-left: 196px;
      }
    }
  }

  .footer {
    .container {
      grid-template-columns: repeat(3, 20%) 40%;
      .info {
        padding-left: 30px;
        font-size: 20px;
      }
    }
  }
}

@media screen and(max-width:1440px) {
  .genres {
    .genre-grid {
      .genre {
        h1 {
          font-size: 42px;
        }
      }
    }
  }
}

@media screen and(max-width:1340px) {
  .container {
    .header {
      width: 100%;
      .icons {
        margin-left: 144px;
      }
      .menu {
        font-size: 25px;
        div {
          margin-right: 26px;
        }
      }
    }
  }

  .service {
    .service-suggest {
      font-size: 46px;
    }
    .service-container {
      .service-item {
        .service-text {
          font-size: 22px;
        }
      }
    }
  }

  .footer {
    .container {
      grid-template-columns: repeat(2, 30%) 40%;
      grid-template-rows: repeat(2, 50%);
      .foot-logo {
        grid-row: 1/3;
        text-align: center;
        margin: auto 0;
      }
      .info {
        padding: 0;
        p {
          line-height: 45px;
        }
        .first-row {
          grid-row: 1/2;
        }
        .second-row {
          grid-row: 2/3;
        }
      }
      .contacts {
        grid-column: 3/4;
        grid-row: 1/3;
        padding-top: 64px;
      }
    }
  }
}

@media screen and(max-width:1205px) {
  .container {
    .header {
      .icons {
        margin-left: 107px;
      }
    }
  }

  .start {
    .start-wrap {
      height: 830px;
      .library {
        .lead-text {
          #white-library {
            font-size: 68px;
          }
          font-size: 65px;
        }
        .start-text {
          font-size: 25px;
        }
        .page {
          font-size: 29px;
        }
      }
      .start-image {
        img {
          height: 830px;
        }
      }
    }
  }

  .genres {
    .genre-grid {
      grid-template-columns: repeat(2, 1fr);
      .genre {
        h1 {
          font-size: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    .header {
      .logo {
        a {
          img {
            width: 170px;
          }
        }
      }
      .icons {
        margin-left: 97px;
      }
      .menu {
        font-size: 20px;
        margin: 0;
      }
    }
  }

  .service {
    .service-container {
      .service-item {
        .service-text {
          letter-spacing: 1px;
        }
      }
    }
  }

  .genres {
    .genres-header {
      .arrow {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .container {
    .header {
      .menu {
        margin: 0 55px;
      }
      .icons {
        margin-left: 20px;
      }
    }
  }
  .start {
    .start-wrap {
      height: 800px;
      .library {
        .lead-text {
          #white-library {
            font-size: 65px;
          }
          font-size: 60px;
        }
        .start-text {
          font-size: 22px;
          line-height: 35px;
        }
        .btn {
          a {
            width: 280px;
            padding: 18px 46px 23px 46px;
            font-size: 21px;
            img {
              top: 20px;
            }
          }
        }
        .page {
          top: 40px;
        }
      }
      .start-image {
        img {
          height: 800px;
        }
      }
    }
  }

  .genres {
    .page {
      top: -55px;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 45px;
    .header {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 1fr);
      .logo {
        grid-column: 1/2;
      }
      .menu {
        margin: 0 37px;
        grid-column: 1/3;
        grid-row: 2/3;
        div {
          margin: 0;
        }
      }
      .icons {
        grid-column: 2/3;
        margin-left: auto;
        .account {
          a {
            width: 30px;
            height: 30px;
            img {
              width: 32px;
            }
          }
        }
        .saved {
          width: 30px;
          height: 30px;
          a {
            img {
              width: 28px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .start {
    .start-wrap {
      height: 735px;
      .library {
        padding: 65px;
        .lead-text {
          #white-library {
            font-size: 56px;
          }
          font-size: 52px;
        }
        .chapter {
          width: 180px;
          img {
            width: 180px;
          }
        }
        .start-text {
          font-size: 19px;
        }
        .btn {
          width: 250px;
          margin: 50px auto 0px;
          a {
            font-size: 18px;
            padding-bottom: 20px;
            img {
              width: 38px;
            }
          }
        }
        .page {
          top: 30px;
        }
      }
      .start-image {
        img {
          height: 735px;
        }
      }
    }
  }

  .question {
    .chapter {
      width: 180px;
      img {
        width: 180px;
      }
    }
    .problems {
      p {
        font-size: 28px;
      }
      .problems-main {
        font-size: 45px;
      }
    }
  }

  .service {
    .service-suggest {
      font-size: 42px;
    }
    .service-container {
      .service-item {
        .icon {
          width: 150px;
        }
        .chapter {
          width: 180px;
          img {
            width: 180px;
          }
        }
        .service-text {
          font-size: 20px;
        }
      }
    }
    .page {
      font-size: 30px;
    }
  }

  .genres {
    .genres-header {
      h1 {
        font-size: 42px;
        width: 70%;
      }
    }
    .lines {
      img {
        height: 100px;
      }
    }
  }

  .registration {
    .chapter {
      width: 180px;
      img {
        width: 180px;
      }
    }
    p {
      font-size: 35px;
    }
  }

  .footer {
    .container {
      display: flex;
      flex-direction: column;
      .foot-logo {
        .copyright {
          font-size: 28px;
        }
      }
      .info {
        p {
          a {
            font-size: 24px;
            letter-spacing: 0px;
          }
        }
      }
      .contacts {
        .phone {
          padding-bottom: 35px;
          font-size: 24px;
          line-height: 20px;
        }
        .social-net {
          h3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .start {
    .start-wrap {
      height: 635px;
      .library {
        padding: 50px;
        .lead-text {
          #white-library {
            font-size: 48px;
          }
          font-size: 45px;
        }
        .chapter {
          width: 130px;
          img {
            width: 130px;
          }
        }
        .start-text {
          font-size: 16px;
          line-height: 27px;
        }
        .btn {
          width: 240px;
          a {
            font-size: 16px;
            img {
              width: 35px;
            }
          }
        }
        .page {
          font-size: 25px;
        }
      }
      .start-image {
        img {
          height: 635px;
        }
      }
    }
  }

  .question {
    .chapter {
      width: 130px;
      img {
        width: 130px;
      }
    }
  }

  .genres {
    .genres-header {
      h1 {
        font-size: 38px;
      }
    }
    .genre-grid {
      .genre {
        h1 {
          font-size: 42px;
        }
      }
    }
  }

  .service {
    .service-suggest {
      font-size: 38px;
    }
    .service-container {
      padding-top: 100px;
      .service-item {
        .icon {
          width: 110px;
        }
        .service-text {
          font-size: 16px;
        }
        .chapter {
          width: 130px;
          img {
            width: 130px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .start {
    .start-wrap {
      grid-template-columns: 100%;
      height: 100%;
      .library {
        .lead-text {
          #white-library {
            font-size: 45px;
          }
          font-size: 42px;
        }
        .start-text {
          font-size: 20px;
        }
        .btn {
          a {
            font-size: 19px;
            img {
              top: 23px;
              right: 23px;
            }
          }
        }
        .page {
          top: 5px;
          right: 23px;
        }
      }
      .start-image {
        img {
          height: 100%;
        }
      }
    }
  }

  .question {
    .problems {
      .problems-main {
        font-size: 40px;
      }
    }
  }

  .genres {
    .genres-header {
      h1 {
        font-size: 30px;
      }
      .arrow {
        width: 60px;
        height: 60px;
      }
    }
    .genre-grid {
      grid-template-columns: 100%;
      .genre {
        height: 600px;
        width: 80%;
        margin: 0 auto;
        h1 {
          font-size: 60px;
        }
      }
    }
    .lines {
      img {
        height: 120px;
      }
    }
    .page {
      right: 58px;
    }
  }

  .service {
    .service-suggest {
      font-size: 32px;
    }
    .service-container {
      padding-top: 100px;
      .service-item {
        .icon {
          width: 110px;
        }
        .service-text {
          font-size: 14px;
        }
        .chapter {
          width: 115px;
          img {
            width: 115px;
          }
        }
      }
    }
    .page {
      font-size: 26px;
      top: -2px;
    }
  }

  .registration {
    .chapter {
      width: 130px;
      img {
        width: 130px;
      }
    }
    p {
      font-size: 30px;
    }
    .q2 {
      padding-top: 20px;
    }
    .btn-rgstr {
      a {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 665px) {
  .service {
    .service-suggest {
      font-size: 28px;
    }
    .service-container {
      .service-item {
        .icon {
          width: 90px;
        }
        .service-text {
          font-size: 12px;
        }
      }
    }
    .page {
      font-size: 21px;
    }
  }

  .genres {
    .genres-header {
      flex-direction: column;
      h1 {
        width: 100%;
        text-align: center;
      }
      .arrow {
        margin-top: 30px;
        width: 80px;
        height: 80px;
      }
    }
    .genre-grid {
      margin-bottom: 40px;
      .genre {
        height: 500px;
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 40px;
    .header {
      position: fixed;
      background-color: white;
      width: 100%;
      top: 0;
      left: 0;
      height: 120px;
      z-index: 20;
      .burger {
        opacity: 1;
        z-index: 4;
        width: 40px;
        height: 40px;
        top: 40px;
        right: 40px;
      }
      .logo {
        position: absolute;
        top: 33px;
        left: 40px;
        a {
          img {
            width: 125px;
          }
        }
      }
      #menu-toggle:checked ~ .burger > span {
        transform: rotate(45deg);
        background-color: white;
      }
      #menu-toggle:checked ~ .burger > span::before {
        top: 0;
        transform: rotate(0);
        background-color: white;
      }
      #menu-toggle:checked ~ .burger > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: white;
      }
      #menu-toggle:checked ~ .menu {
        visibility: visible;
        opacity: 1;
        padding: 35px 35px 25px;
        div {
          margin-top: 50px;
          a {
            color: white;
            font-size: 22px;
          }
        }
      }
      #menu-toggle:checked ~ .icons {
        visibility: visible;
        opacity: 1;
        top: 380px;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        margin: 0;
        .saved,
        .account {
          width: 30px;
          height: 30px;
        }
      }
      .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 0;
        right: 0;
        width: 350px;
        height: 380px;
        margin: 0;
        z-index: 2;
        box-shadow: 2px -11px 12px 4px grey;
        background-color: #2a9d8f;
        div {
          display: block;
        }
      }
      .icons {
        display: block;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 0;
        width: 350px;
        height: 75px;
        margin: 0;
        background-color: white;
        box-shadow: 2px 2px 12px 4px grey;
        z-index: 1;
      }
    }
  }

  .start {
    margin-top: 40px;
    .start-wrap {
      .library {
        .btn {
          a {
            img {
              width: 31px;
              right: 27px;
            }
          }
        }
      }
    }
  }

  .question {
    .problems {
      p {
        font-size: 25px;
      }
      .problems-main {
        font-size: 35px;
        padding-top: 42px;
      }
    }
  }

  .service {
    .service-container {
      grid-template-columns: 100%;
      padding-top: 80px;
      padding-bottom: 50px;
      .service-item {
        .icon {
          width: 110px;
          margin-bottom: 35px;
        }
        .service-text {
          width: 70%;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
    .page {
      top: -30px;
      right: 50px;
    }
  }

  .genres {
    padding-bottom: 45px;
    .genres-header {
      h1 {
        font-size: 27px;
      }
      .arrow {
        width: 65px;
        height: 65px;
      }
    }
    .genre-grid {
      .genre {
        height: 490px;
        h1 {
          font-size: 48px;
        }
      }
    }
    .lines {
      img {
        height: 90px;
      }
    }
    .page {
      font-size: 28px;
    }
  }

  .registration {
    p {
      font-size: 24px;
    }
    .btn-rgstr {
      a {
        font-size: 26px;
        padding: 15px 52px 20px;
      }
    }
  }

  .footer {
    .container {
      padding: 30px;
      .foot-logo {
        img {
          width: 166px;
        }
        .copyright {
          font-size: 17px;
        }
      }
      .info {
        p,
        a {
          line-height: 25px;
        }
        p {
          a {
            font-size: 17px;
          }
        }
      }
      .second-row {
        margin-top: 0;
      }
      .contacts {
        padding-top: 30px;
        padding-left: 0;
        .phone {
          h3,
          p {
            font-size: 18px;
            letter-spacing: 0;
          }
        }
        .social-net {
          div {
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and(max-width:469px) {
  .start {
    margin-top: 60px;
    .start-wrap {
      .library {
        .start-text {
          font-size: 18px;
        }
        .page {
          right: 2px;
        }
      }
    }
  }

  .container {
    padding: 30px;
  }
  .genres {
    .genres-header {
      .arrow {
        width: 60px;
        height: 60px;
      }
    }
    .genre-grid {
      margin-bottom: 30px;
      .genre {
        height: 320px;
        width: 320px;
        h1 {
          font-size: 35px;
        }
      }
    }
  }

  .registration {
    .btn-rgstr {
      a {
        font-size: 22px;
      }
    }
  }
}

@media screen and(max-width:400px) {
  .container {
    .header {
      .menu {
        width: 270px;
      }
      #menu-toggle:checked ~ .menu {
        div {
          a {
            font-size: 18px;
          }
        }
      }
      .icons {
        width: 270px;
      }
      .burger {
        width: 30px;
        height: 30px;
        top: 44px;
        span {
          height: 4px;
        }
      }
      .burger span:before,
      .burger span:after {
        height: 4px;
      }
      .burger span:before {
        top: -12px;
      }
      .burger span:after {
        top: 12px;
      }
    }
  }

  .start {
    .start-wrap {
      .library {
        padding: 40px;
        .lead-text {
          #white-library {
            font-size: 37px;
          }
          font-size: 32px;
        }
        .start-text {
          font-size: 15px;
          line-height: 22px;
        }
        .btn {
          width: 230px;
          a {
            font-size: 16px;
            padding: 13px 42px 15px 42px;
            img {
              width: 30px;
              top: 16px;
              right: 33px;
            }
          }
        }
        .page {
          right: 2px;
          font-size: 21px;
          top: 15px;
        }
      }
    }
  }

  .question {
    .problems {
      p {
        font-size: 18px;
        letter-spacing: 1px;
      }
      .problems-main {
        font-size: 25px;
      }
    }
    .page {
      font-size: 25px;
    }
  }

  .genres {
    padding-bottom: 30px;
    .genres-header {
      h1 {
        font-size: 23px;
      }
      .arrow {
        width: 55px;
        height: 55px;
      }
    }
    .lines {
      img {
        height: 60px;
      }
    }
    .page {
      font-size: 20px;
      right: 32px;
      top: -38px;
    }
  }

  .service {
    .service-suggest {
      font-size: 22px;
    }
    .service-container {
      padding-top: 60px;
      .service-item {
        .icon {
          width: 80px;
        }
        .service-text {
          font-size: 12px;
        }
      }
    }
    .page {
      font-size: 21px;
      right: 40px;
      top: -26px;
    }
  }

  .registration {
    p {
      font-size: 14px;
      letter-spacing: 1px;
    }
    .q2 {
      padding: 0;
    }
    .btn-rgstr {
      margin-top: 50px;
      a {
        font-size: 17px;
        padding: 12px 27px 15px;
      }
    }
  }

  .footer {
    .container {
      .contacts {
        .social-net {
          width: 100%;
        }
      }
    }
  }
}
